@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
#parent {
    display: flex;
    max-width: 850px;

  }
  #right {
    width: 500px;
    height:250px;
    background:#f0e0df;
    /* Just so it's visible */
  }
  #left {
    flex: 1;
    background: #fad7d5;
    font-family: var(--font-alt);
    padding: 1.5rem 2rem 1.5rem 2rem;
  }

  .centered {
    position:absolute;
    top: 22%;
    left: 42%;
    transform: translate(-50%, -50%);
    text-align: left;
  }

  .title{
    font-family:var(--font-title);
    font-size:20px;
    font-weight:bold;
  }

 .prod{
    font-family:var(--font-title);
    font-size:x-large;
 }
 
.cart-row {
     display: flex;
}

.cart-column {
  display: flex;
  text-align:right;
  width:170px;
  
}

.total{
    margin-left: 230px;
    width:417px;
    border-top: 2.5px solid rgba(0, 0, 0, 0.212);
    display: flex;
    font-family:var(--font-title);
    font-size:20px;
    font-weight:bold;
}